/* font-family: 'Playfair Display', serif;
font-family: 'Josefin Sans', sans-serif; */

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px rgb(56, 53, 53);

}

#about, #services, #gallery, #contact {
  height: 50vh;
}

#about h2, #services h2, #gallery h2, #contact h2 {
  font-family: 'Playfair Display', serif;
}

#page-container {
  display: flex;
  flex-direction: column;
}

#hero {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-image:url(../images/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  text-shadow: 5px 5px 5px rgb(56, 53, 53);
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  padding: 0 5px;
  list-style-type: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
