/* font-family: 'Playfair Display', serif;
font-family: 'Josefin Sans', sans-serif; */

/* Main Page Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px rgb(56, 53, 53);

}

.about, .services, .gallery, .contact {
  width: 50%;
  display: flex;
}

.about h2, .services h2, .gallery h2, .contact h2 {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image:url(../images/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  align-items: center;
}

#logo {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  text-shadow: 5px 5px 5px rgb(56, 53, 53);
}

#navigation {
  background-color: lightgrey;
  margin: 0;
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

nav ul li {
  padding: 0 5px;
  list-style-type: none;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card-container {
  display: flex;
  justify-content: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 350px;
  height: 200px;
  padding: 0.5em;
  filter: grayscale(1);
  transition: filter 500ms linear;
}

.gallery img:hover {
  filter: grayscale(0);
  transition: filter 500ms linear;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  justify-content: center;
  height: 10%;
}

footer i {
  font-size: 2rem;
  padding-right: 1em;
  padding-bottom: 1em;
}

/* Virtual Queue Style */

#queue-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image:url(../images/virtual-queue-bg01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  align-items: center;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

#queue-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  text-shadow: 5px 5px 5px rgb(56, 53, 53);
  background-color: rgba(134, 116, 116, 0.7);
  border-radius: 20px;
  padding: .2em;
  box-shadow: 5px 5px 10px rgb(56, 53, 53);
}

#queue-container form div {
  display: flex;
}

#queue-container ol {
  font-size: 1.75rem;
  text-shadow: 5px 5px 5px rgb(56, 53, 53);
}

#queue-container ol li {
  margin-right: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid silver;
}

span {
  margin-right: 50px
}

.timer {
  margin-right: 0;
}

#customer-name {
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  padding: 0.25em;
  box-shadow: 5px 5px 10px rgb(56, 53, 53);
  margin-right: 10px;
}

#reserve {
  border: none;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5em;
  border-radius: 15px;
  background-color: rgb(214, 207, 196);
  box-shadow: 5px 5px 10px rgb(56, 53, 53),
              inset 0px 1px #e4e7d7;
}
